@model ApplicationUser

@{
	ViewData["Title"] = "Delete Admin";
}

<div class="row ">
	<div class="col-md-12 mt-3">
		<div class="card card-success card-outline">
			<div class="card-header">
				<h3 class="card-title"><i class="fas fa-user-tie"></i>  Delete Admin</h3>
			</div>
			<div class="card-body">
				<form method="post" asp-action="DeleteAdmin">
					<div class="mb-3">
						<label asp-for="FirstName"></label>
						<input asp-for="FirstName" disabled class="form-control" />
					</div>
					<div class="mb-3">
						<label asp-for="LastName"></label>
						<input asp-for="LastName" disabled class="form-control" />
					</div>
					<div class="mb-3">
						<label asp-for="Email"></label>
						<input type="email" asp-for="Email" disabled class="form-control" />
					</div>

					<button type="submit" class="btn btn-black btn-outline-danger" style="width:150px">Delete</button>
					<a asp-controller="Users" asp-action="ListAdmin" class="btn btn-secondary" style="width:150px">
						Backto List
					</a>
				</form>
			</div>
		</div>
	</div>
</div>

