@model ApplicationUser

@{
	ViewData["Title"] = "Delete Fire Station";
}

<div class="row ">
	<div class="card mt-3">

		<div class="card-header">
			<h3 class="card-title"><i class="fas fa-fire-extinguisher"></i> Delete Fire Station</h3>
		</div>
		<div class="card-body">

			<form method="post" asp-action="Delete">
				<div class="mb-3">
					<label asp-for="FirstName"></label>
					<input asp-for="FirstName" disabled class="form-control" />
				</div>
				<div class="mb-3">
					<label asp-for="LastName"></label>
					<input asp-for="LastName" disabled class="form-control" />
				</div>
				<div class="mb-3">
					<label asp-for="Email"></label>
					<input type="email" asp-for="Email" disabled class="form-control" />
				</div>

				<button type="submit" class="btn btn-black btn-outline-danger" style="width:150px">Delete</button>
				<a asp-controller="Users" asp-action="ListFireStations" class="btn btn-secondary" style="width:150px">
					Backto List
				</a>
			</form>
		</div>
	</div>
</div>