﻿@using ForestFireDetection.Data;
@model ForestFireDetection.Models.ApplicationUser

<form asp-controller="Users" asp-action="EditAdmin" method="post" class="pt-5">
	<input asp-for="Id" type="hidden" />

	<div class="border p-3 mt-4">
		<div class="row pd-2">
			<h2 class="text-primary">Edit Admin</h2>
			<hr />

		</div>
	</div>

	<div class="mb-3">
		<label asp-for="FirstName" class="form-label"></label>
		<input asp-for="FirstName" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="LastName" class="form-label"></label>
		<input asp-for="LastName" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
	<a asp-controller="Users" asp-action="ListAdmin" class="btn btn-secondary" style="width:150px">
		Backto List
	</a> 
</form>
