#map {
    height: 500px;
    width: 100%;
}
.custom-icon {
    height: 17.5px;
    width: 17.5px;
    margin-right: 8px;
    vertical-align: middle;
}
#alert-count-badge {
    font-size: 0.65rem;
    padding: 4px 7px;
}
